<div class="text-black bg-white p-12">
  <div class="flex">
    <div class="w-60 !font-sans">
      <h1 class="!text-2xl !font-bold !font-sans ">
        Sign out
      </h1>
      <p>Do you want to sign out?</p>
      <div class="space-x-4 mt-6">
        <button class="font-bold bg-black py-2 px-4 text-white rounded-md" (click)="onClick()">Yes</button>
        <button class="font-bold bg-black py-2 px-4 text-white rounded-md" (click)="onClick()">No</button>
      </div>
      
    </div>
  </div>
</div>