<div class="text-black p-16">
  <div class="rounded-lg shadow-slate-100 shadow-md border">
    <div class="flex flex-col space-y-1.5 p-6 bg-gray-200 dark:bg-gray-800">
      <h3 class="!text-2xl whitespace-nowrap leading-none tracking-tight !font-bold !font-sans">Booking history</h3>
      <p class="!text-slate-500 !text-sm !font-sans">Your past and upcoming bookings</p>
    </div>
    <div>
      <div class="flex flex-col !font-sans ">
        <div class="grid grid-cols-4 items-center py-3 px-4 even:bg-gray-100 odd:bg-gray-200 dark:bg-gray-800">
          <div class="font-bold ">Ground</div>
          <div class="font-bold ">Date</div>
          <div class="font-bold ">Time</div>
          <div class="font-bold ">Status</div>
        </div>
        <div class="grid grid-cols-4 py-3 px-4 even:bg-gray-100 odd:bg-gray-200">
          <div class="flex  gap-2">
            NexGen Cricket Academy          
          </div>
          <div>Apr 2, 2024</div>
          <div>10:00 AM - 11:00 AM</div>
          <div>Completed</div>
        </div>
        <div class="grid grid-cols-4 py-3 px-4 even:bg-gray-100 odd:bg-gray-200 dark:bg-gray-800">
          <div class="flex items-center gap-2 ">
            NexGen Cricket Academy
          </div>
          <div>Apr 5, 2024</div>
          <div>3:00 PM - 4:00 PM</div>
          <div>Upcoming</div>
        </div>
        <div class="grid grid-cols-4 py-3 px-4 even:bg-gray-100 odd:bg-gray-200">
          <div class="flex items-center gap-2">
            NexGen Cricket Academy
          </div>
          <div>Apr 10, 2024</div>
          <div>6:00 PM - 7:00 PM</div>
          <div>Upcoming</div>
        </div>
      </div>
    </div>
  </div>
</div>