<div class="px-10 mx-14 w-[40rem]">
  <div class="">
    <p class="font-sans font-bold text-xl">Description</p>
    <p class="font-sans">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus omnis officia maiores,</span>
      <span>quibusdam sapiente dolor perspiciatis quae soluta eum alias tenetur delectus quasi fugit, earum odit
        accusantium</span>
      <span>eligendi, ipsum labore!</span>
    </p>
  </div>
  <div>
    <p class="font-sans font-bold text-xl">Location</p>
    <p class="font-sans hover:underline hover:cursor-pointer" (click)="seeLocation()">
      {{location}}
    </p>
  </div>
  <div>
    <p class="font-sans font-bold text-xl">Specification</p>
      <ul class="font-sans">
        <li>-> Lush Green outfield</li>
        <li>-> Fixed sight screen</li>
        <li>-> Boundary distance from pitch</li>
        <ul>
          <li>-> 75 mtrs from sides</li>
          <li>-> 67 mtrs straight</li>
        </ul>
      </ul>
  </div>
</div>