<div class="px-10 mx-14 w-[40rem]">
  <p class="font-sans font-bold text-xl">Services</p>
  <div class="flex flex-row flex-wrap">
    <div class="flex flex-row">
      <img src="assets/gym.svg" class="w-10 h-10" alt="gym">
      <p class="font-sans !mb-0 p-2">GYM</p>
    </div>
    <div class="flex flex-row">
      <img src="assets/canteen.svg" class="w-10 h-10" alt="canteen">
      <p class="font-sans p-2">Canteen</p>
    </div>
    <div class="flex flex-row">
      <img src="assets/cricket.svg" class="w-10 h-10" alt="indoor_cricket">
      <p class="font-sans p-2">Indoor cricket</p>
    </div>
    <div class="flex flex-row">
      <img src="assets/coaching.svg" class="w-10 h-10" alt="coaching">
      <p class="font-sans p-2">Coaching</p>
    </div>
    <div class="flex flex-row">
      <img src="assets/hostel.svg" class="w-10 h-10" alt="hostel">
      <p class="font-sans p-2">Hostel</p>
    </div>
  </div>
</div>